body, html {
    height: 100%;
}

body {
    position: relative; 
    opacity: 0.9;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    background-image: url("https://img.currency.com/imgs/articles/834xx/Shiba_Inu_coin_price_prediction.jpg");

}


b

.cryptowidget{
    align:center;
}

.randomcryptobutton{
    text-align: :center;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #dd5037, #f6e607, #f8750a);
    color: white; }

h1 {
    text-align: center;
}    

h2 {
    text-align: center;
}

p {
    text-align: center;
}